body {
    margin: 0;
    background: #ddd;
}

a {
    text-decoration: none;
}

#header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
}

#header a {
    padding-bottom: 5px;
    border-bottom: 2px solid black;
    font-size: 1.5em;
    color: black;
    transition: all 0.5s;
}

#header a:hover {
    border-bottom: 2px solid gray;
    color: gray;
    cursor: default;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#courses {
    width: 600px;
    padding-top: 20px;
}

.course {
    margin-top: 40px;
}

.course a {
    padding-bottom: 5px;
    font-size: 1.5em;
    color: black;
    transition: all 0.5s;
}

.course a:hover {
    color: gray;
    cursor: default;
}

#course-name {
    margin-top: 30px;
}

#course-name span {
    font-size: 1.5em;
}

#problem-selector {
    width: round(50%, 50px);
    margin-top: 20px;
    border: 5px solid silver;
    background-color: white;
}

#problem-selector-navpanel {
    width: 100%;
    float: left;
    border-bottom: 5px solid black;
}

.navbox {
    width: 50px;
    float: left;
}

.navbox button {
    border-radius: 0;
    font-size: 1.5em;
}

.navbox-active button {
    background-color: #aaa;
}

#problem-selector-content {
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#problem-description {
    width: 80%;
}
