body {
    margin: 0;
    background: #ddd;
}

a {
    text-decoration: none;
}

#header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
}

#header a {
    padding-bottom: 5px;
    border-bottom: 2px solid black;
    font-size: 1.5em;
    color: black;
    transition: all 0.5s;
}

#header a:hover {
    border-bottom: 2px solid gray;
    color: gray;
    cursor: default;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#courses {
    width: 600px;
    padding-top: 20px;
}

.course {
    margin-top: 40px;
}

.course a {
    padding-bottom: 5px;
    font-size: 1.5em;
    color: black;
    transition: all 0.5s;
}

.course a:hover {
    color: gray;
    cursor: default;
}

#problem-selector {
    width: round(50%, 50px);
    margin-bottom: 50px;
    border: 5px solid silver;
    background-color: white;
}

#problem-selector-navpanel {
    width: 100%;
    float: left;
    border-bottom: 5px solid black;
}

.navbox {
    width: 50px;
    float: left;
}

.navbox button {
    border-radius: 0;
    font-size: 1.5em;
}

.navbox-active button {
    background-color: #aaa;
}

#problem-selector-content {
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#problem-description {
    width: 80%;
}

#upload-form {
    width: 80%;
    margin-bottom: 30px;
}

#upload-form-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#upload-form .left {
    display: flex;
    flex-direction: column;
}

#upload-file-input {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1em;
}

#upload-solution {
    float: right;
    padding: 3px 10px;
    border: none;
    border-radius: 8px;
    font-size: 1.5em;
    background-color: #30aadd;
    transition: all 0.5s;
}

#upload-solution:hover {
    background-color: #99ff22;
}

#upload-solution:active {
    transform: translate(0, 5px);
    transition: all 0.1s;
}

#upload-results {
    width: 40%;
    position: absolute;
    top: 150;
    padding-left: 40px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    border: 5px solid black;
    border-radius: 5px;
    background-color: #ccc;
}

#upload-log span {
    display: block;
    font-size: 1.1em;
    white-space: pre-line;
}

#problem-status {
    margin-top: 20px;
    background-color: green;
}

#problem-status span {
    font-size: 1.3em;
}

#error-description {
    margin-left: 20px;
}

#error-description a {
    display: block;
    margin-top: 20px;
    padding-bottom: 5px;
    font-size: 1.1em;
    color: black;
    transition: all 0.5s;
}

#error-description .input {
    border-bottom: 2px solid green;
}

#error-description .output {
    border-bottom: 2px solid red;
}

#error-description a:hover {
    color: gray;
    cursor: default;
}

#close-results {
    align-self: end;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
}
